/* 
    Created on : Jan 23, 2015, 10:42:37 PM
    Author     : Gil
*/

body {
  background-color: #74afad;
  text-align: center;
  font-family: 'Montserrat', serif;
  font-size: 20px;
  color: #243b39;
}

body.greek {
  font-family: 'Source Sans Pro', serif;
}

a:link {
  color: #b4fcfb;
  text-decoration: none;
}

a:visited {
  color: #b4fcfb;
  text-decoration: none;
}

a.en:link {
  color: #fbeb9a;
  text-decoration: none;
}

a.en:visited {
  color: #fbeb9a;
  text-decoration: none;
}

a.fr:link {
  color: #deb5d4;
  text-decoration: none;
}

a.fr:visited {
  color: #deb5d4;
  text-decoration: none;
}

a.gr:link {
  color: #b4fcfb;
  text-decoration: none;
}

a.gr:visited {
  color: #b4fcfb;
  text-decoration: none;
}

a.dk:link {
  color: #fbeb9a;
  text-decoration: none;
}

a.dk:visited {
  color: #fbeb9a;
  text-decoration: none;
}

/* Active language indicator */
.language-switcher a.active {
  font-weight: bold;
  text-decoration: underline;
}

.location {
  background-color: #fbeb9a;
}

.relationship {
  background-color: #deb5d4;
}

.word {
  background-color: #b4fcfb;
}
.title {
  font-size: 40px;
  position: relative;
}

.sub {
  font-size: 18px;
  position: relative;
  margin: 7px;
}

.credit {
  font-size: 14px;
  position: relative;
  margin: 7px;
}

button {
  font-family: 'Arvo', serif;
  font-size: 30px;
  height: 50px;
  width: 250px;
  margin: 7px;
  color: #243b39;
  border-radius: 10px;
}

button.greek,
.suggestion.greek {
  font-family: 'Roboto Slab', serif;
}

.container {
  position: relative;
}

.suggestion {
  height: 75px;
  line-height: 75px;
  max-width: 650px;
  margin: auto;
  background-color: #ececea;
  vertical-align: middle;
  font-family: 'Arvo', serif;
  font-size: 30px;
  margin-top: 20px;
  border: 4px solid black;
}
